.nav-item a {
    color: #fff !important;
    font-weight: 500;
    font-family: 'Montserrat';
}

.fdb-touch-mine {
    border-top: solid 0.3125rem #FF7F3C;
    z-index: 2;
}

.btn-mine {
    color: #fff;
    background-color: #dd2476;
    border-color: #dd2476;
}